@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --qara-reng: #000;
    --ag-reng: #fff;
    --spandaki-reng: #FF8A56;
    --servicedeki-reng:#FF5E69;
}

body{
    font-family: 'Roboto', sans-serif;
}

header.header{
    display: flex;
    justify-content: space-between;
    padding: 42px 112.5px 16.7px;
    align-items: center;
}

a{
    text-decoration: none;
}
.header a {
    color: var(--qara-reng) ;
    padding: 15px;
}

.fa-bars{
    display: none;
}

section.introduction left-side span{
    color: var(--spandaki-reng) ;
}


/* MEDIA QUERY */

@media(max-width:768px){
    header.header{
        padding-left: 60px;
        padding-right: 60px;
    }

    .nav-links{
        display: none;
        font-size: 24px;
        
    }
    
    .fa-bars{
        display: block;
        cursor: pointer !important;
    }

    .introduction {
        display: flex;
        justify-content: space-between;
    }

}

@media(max-width:576px){
    header.header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .teqdimat .left-side{
        padding-top: 40px;
    }
}

/* INTRODUCTION BASLAYIR */
    .teqdimat{
        display: flex;
        padding-left: 113px;
        padding-right: 112px;
        /* width: 100%; */
    }

    .left-side{
        padding-top: 117px;
    }

    .left-side h1{
        font-weight:700;
        font-size:72px;
    }

    .left-side h1 span{
        color: var(--spandaki-reng);
    }

    .left-side p{
        font-weight: 400;
        font-size: 22px;
        padding-top: 34px;
        padding-bottom: 24px;
        color: #666666;
    }

    .left-side button{
        width: 151px;
        height: 58px;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        background-color: #000;
        color: #FFF;
    }

    .right-side{
        padding-top: 70px;
    } 

    .right-side img {
        width: 100%;
    } 


    .teqdimat button{
        width: 151px;
        height: 58px;
        background-color: #000;
        color: #fff;
        border-radius: 0px;
    }

    .teqdimat a{
        padding-left: 14.3px;
        color: black;
    }
    @media(max-width:1180px){
        .teqdimat {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    @media(max-width:1080px){
        .teqdimat{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media(max-width:992px){
        .teqdimat h1{
            font-size: 42px;
        }
    }

    @media(max-width:768px){
        .teqdimat{
            flex-direction: column;
        }
    }
/* INTRODUCTION BITIR */
/* TRUSTED SECTION START */
.trusted-section h6{
    text-align: center;
    padding-top: 77px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.trusted-companies{
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
}

@media(max-width:768px){
    .trusted-company:nth-child(3),
    .trusted-company:nth-child(4){
        display: none;
    }
}
@media(max-width:576px){
    .trusted-company:nth-child(2){
        display: none;
    }
}
/* TRUSTED SECTION END */
/* SERVICES SECTION START */

.services-section{
    padding-left: 171px;
    padding-right: 171px;
    padding-top: 79.73px;
}

.services-section h6,
.services-section h1 {
    text-align: center;
}
.services-section h6{
text-transform: uppercase;
color: var(--servicedeki-reng);
font-weight: 700;
font-size: 22px;
letter-spacing: 4px;
padding-bottom: 20px;
padding-top: 76px;
}
.services-section h1{
font-size: 54px;
font-weight: 700;
line-height: 59.4px;
letter-spacing: 1px;
}


.services-section ul{
    list-style-type: square;
    list-style-position: inside;
}

.services-cards-section{
    display: flex;
    justify-content: space-between;
    padding-top: 117.95px;
    flex-wrap: wrap;
    text-align:left;
}
.card{
    min-width:252px;
    width: 252px;
}
.card h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    padding-top: 39.17px;
    padding-bottom: 25px;
}
.card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #666;
    padding-bottom: 21PX;
}
.card ul li {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 10px;
}
@media(max-width:768px){
    .services-section{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media(max-width:576px){
    .services-section{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* SERVICES SECTION END */
/* OVERLAY MENU START */
.overlay-menu{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    height: 100%;
    width:0;
    overflow-x: hidden;
}
.active{
    width: 100%;
}
.overlay-menu a{
    color: #aaa;
    padding-top: 14px;
    transition: all 1.2s ease;
}
.overlay-menu a:hover{
    color: #fff;
    font-size: 40px;
    transform: translateX(15px);
}
    

.nav-links-overlay-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 34px;
}


.fa-xmark{
    color: #fff;
    position: absolute;
    right: 45px;
    top: 45px;
    font-size: 30px;
}

/* OVERLAY MENU END */

/* PROJECTS SECTION START */

.projects-section > h6{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    color:#B16CEA ;
    text-transform: uppercase;
    padding-left: 113px;
    padding-top: 76.27px;
}

.view-all-projects{
    padding: 20px 112px 70px 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-projects h2{
    font-weight: 700;
    font-size: 54px;
    line-height: 59.4px;
    letter-spacing: 1px;
}

.view-all-projects button{
    background-color: #000;
    padding: 17px;
    color: #fff;
}

.projects-cards-sections{
    display: flex;
    justify-content: space-between;
    padding-left: 113px;
}

.projects-cards-sections .card{
    width: 486px;
    margin-right: 24px;
}

.projects-cards-sections .card .card__top{
    width: 100%;
    height: 305px;
}

.projects-cards-sections .card .card__top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects-cards-sections .card .card__bottom h6{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #3C46FF;
    padding-top: 14px;
    padding-left: 20px;
    text-transform: uppercase;
}

.projects-cards-sections .card .card__bottom h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    padding-top: 10px;
    padding-left: 20px;
}

.projects-cards-sections .card .card__bottom a{
    color: #000;
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    padding-left: 20px;
    padding-top: 200px;
}
.projects-cards-sections .card .card__bottom{
    background: #fff;
}

@media(max-width:991px){
    .projects-cards-sections{
        padding-left: 10px;
    }
}

@media(max-width:768px){
    .card:last-child{
        display: none;
    }
}

@media(max-width:576px){
    .card:not(:first-child){
        display: none;
    }
    .view-all-projects{
        padding: 0 20px;
    }
    .view-all-projects h2{
        font-size: 25px;
        line-height: normal;
    }
}

/* PROJECTS SECTION END */

/*  BLOGS SECTION START */
    
.blog-section{
    display: flex;
    padding: 100px 113px;
    background: #000;
    margin-top: -83px;

}

.blog-section .left-side{
    width: 40%;
}

.blog-section .right-side{
    width: 60%;
}

.metadata{
    color: rgba(255, 255, 255, 0.7);
}

.left-side{
    padding-top: 76.27px;
}

.blog a img {
    width: 13px;
}

.blog-section h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFA84B;
}

.blog-section h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
    color: #FFFFFF; 
    padding-top: 20px;
}

.blog-section a{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 35.73px;
}

.blog h2 {
    color: #fff;
    padding-top: 26px;
    padding-bottom: 39px;
}

.blog{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); ;
    padding-top: 98px;
}

.right-side{
    padding-top: 117.27px;
}

span .metadata {
    padding-top: 61px;
}


/* BLOGS SECTION END */
